In [ ]:
%load_ext lab_black

Step: Load data

In [61]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd
import numpy as np

In [62]:
def scrape_table(url, table_id):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    table = soup.find('table', {'id': table_id})
    header_rows = table.thead.find_all('tr')
    header_row = header_rows[-1]  # Use the last header row to get the correct headers
    headers = [th.text for th in header_row.find_all('th') if th.text != 'Rk']

    rows = table.tbody.find_all('tr')
    data = []
    for row in rows:
        if row.get('class') and 'thead' in row['class']:
            continue
        data_row = [td.text for td in row.find_all('td') if td.get('data-stat') != 'ranker']
        data.append(data_row)

    return pd.DataFrame(data, columns=headers)


year = 2020
base_url = 'https://www.pro-football-reference.com/years/{}/'

In [66]:
# Scrape passing data
passing_url = base_url.format(year) + 'passing.htm'
passing_df = scrape_table(passing_url, 'passing')
passing_df

AttributeError: 'NoneType' object has no attribute 'thead'

In [64]:
# Scrape rushing data
rushing_url = base_url.format(year) + 'rushing.htm'
rushing_df = scrape_table(rushing_url, 'rushing')
rushing_df

AttributeError: 'NoneType' object has no attribute 'thead'

In [35]:
# Scrape receiving data
receiving_url = base_url.format(year) + 'receiving.htm'
receiving_df = scrape_table(receiving_url, 'receiving')
receiving_df

,Player,Tm,Age,Pos,G,GS,Tgt,Rec,Ctch%,Yds,Y/R,TD,1D,Lng,Y/Tgt,R/G,Y/G,Fmb
0,Stefon Diggs*+,BUF,27,WR,16,15,166,127,76.5%,1535,12.1,8,73,55,9.2,7.9,95.9,0
1,Davante Adams*+,GNB,28,WR,14,14,149,115,77.2%,1374,11.9,18,73,56,9.2,8.2,98.1,1
2,DeAndre Hopkins*,ARI,28,WR,16,16,160,115,71.9%,1407,12.2,6,75,60,8.8,7.2,87.9,3
3,Darren Waller*,LVR,28,TE,16,15,145,107,73.8%,1196,11.2,9,68,38,8.2,6.7,74.8,2
4,Travis Kelce*+,KAN,31,TE,15,15,145,105,72.4%,1416,13.5,11,79,45,9.8,7.0,94.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520,Matthew Stafford,DET,32,QB,16,16,1,0,0.0%,0,,0,0,0,0.0,0.0,0.0,2
521,Taywan Taylor,CLE,25,WR,3,0,1,0,0.0%,0,,0,0,0,0.0,0.0,0.0,
522,Noah Togiai,IND,23,TE,4,0,1,0,0.0%,0,,0,0,0,0.0,0.0,0.0,
523,Eric Tomlinson,2TM,28,TE,7,2,1,0,0.0%,0,,0,0,0,0.0,0.0,0.0,
524,P.J. Walker,CAR,25,QB,4,1,1,0,0.0%,0,,0,0,0,0.0,0.0,0.0,1

In [36]:
# Scrape defense data
defense_url = base_url.format(year) + 'defense.htm'
defense_df = scrape_table(defense_url, 'defense')
defense_df

,Player,Tm,Age,Pos,G,GS,Int,Yds,TD,Lng,...,FR,Yds,TD,Sk,Comb,Solo,Ast,TFL,QBHits,Sfty
0,Zach Cunningham,HOU,26,LILB,16,16,0,0,0,0,...,0,0,0,3.0,164,106,58,7,4,
1,Roquan Smith,CHI,23,LILB,16,16,2,16,0,11,...,1,0,0,4.0,139,98,41,18,6,
2,Devin White,TAM,22,LILB,15,15,0,0,0,0,...,1,2,0,9.0,140,97,43,15,16,
3,Neville Hewitt,NYJ,27,RILB,16,16,0,0,0,0,...,1,17,0,2.0,134,91,43,6,4,
4,Jordan Poyer,BUF,29,SS,16,16,2,14,0,14,...,0,0,0,2.0,124,91,33,4,4,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1358,Jeff Wilson,SFO,25,RB,12,3,,,0,,...,1,0,0,0.0,,,,,,
1359,Javon Wims,CHI,26,WR,13,1,,,0,,...,,,0,0.0,1,0,1,0,0,
1360,Isaiah Wynn,NWE,25,LT,10,10,,,0,,...,1,0,0,0.0,,,,,,
1361,T.J. Yeldon,BUF,27,RB,3,0,,,0,,...,1,0,0,0.0,,,,,,
1362,Brandon Zylstra,CAR,27,WR,16,2,,,0,,...,1,0,1,0.0,,,,,,

In [57]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def scrape_table(url, table_id):
    response = requests.get(url)
    soup = BeautifulSoup(response.text, 'html.parser')

    table = soup.find('table', {'id': table_id})
    header_rows = table.thead.find_all('tr')
    header_row = header_rows[-1]  # Use the last header row to get the correct headers
    headers = [th.text for th in header_row.find_all('th') if th.text != 'Rk']

    rows = table.tbody.find_all('tr')
    data = []
    for row in rows:
        if row.get('class') and 'thead' in row['class']:
            continue
        data_row = [td.text for td in row.find_all('td') if td.get('data-stat') != 'ranker']
        data.append(data_row)

    return pd.DataFrame(data, columns=headers)

base_url = 'https://www.pro-football-reference.com/years/{}/'

# Initialize empty DataFrames for each category
passing_data = pd.DataFrame()
rushing_data = pd.DataFrame()
receiving_data = pd.DataFrame()
defense_data = pd.DataFrame()

# Iterate through the years and append the data
for year in range(2011, 2022):
    print(f"Processing data for {year}")

    # Scrape passing data
    passing_url = base_url.format(year) + 'passing.htm'
    passing_df = scrape_table(passing_url, 'passing')
    passing_df['Year'] = year
    passing_data = passing_data.append(passing_df, ignore_index=True)

    # Scrape rushing data
    rushing_url = base_url.format(year) + 'rushing.htm'
    rushing_df = scrape_table(rushing_url, 'rushing')
    rushing_df['Year'] = year
    rushing_data = rushing_data.append(rushing_df, ignore_index=True)

    # Scrape receiving data
    receiving_url = base_url.format(year) + 'receiving.htm'
    receiving_df = scrape_table(receiving_url, 'receiving')
    receiving_df['Year'] = year
    receiving_data = receiving_data.append(receiving_df, ignore_index=True)

    # Scrape defense data
    defense_url = base_url.format(year) + 'defense.htm'
    defense_df = scrape_table(defense_url, 'defense')
    defense_df['Year'] = year
    defense_data = defense_data.append(defense_df, ignore_index=True)

print("Data processing completed!")

Data processing completed!

In [65]:
def scrape_table(url, table_id):
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.82 Safari/537.36'
    }
    response = requests.get(url, headers=headers)
    soup = BeautifulSoup(response.text, 'html.parser')

    table = soup.find('table', {'id': table_id})
    header_rows = table.thead.find_all('tr')
    header_row = header_rows[-1]  # Use the last header row to get the correct headers
    headers = [th.text for th in header_row.find_all('th') if th.text != 'Rk']

    rows = table.tbody.find_all('tr')
    data = []
    for row in rows:
        if row.get('class') and 'thead' in row['class']:
            continue
        data_row = [td.text for td in row.find_all('td') if td.get('data-stat') != 'ranker']
        data.append(data_row)

    return pd.DataFrame(data, columns=headers)